/* Apply a CSS reset to clear default padding and margin on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
/* body */
body {
  font-family: Poppins, Arial, sans-serif;
  text-align: center;
  background-color: #191919;  
  color: #d4d4d4;
  margin: 0;
  padding: 0;
}
/*header*/
header{
  text-align: left;
  padding:1rem;
  font-size:1.5rem;
  display:flex;
  justify-content:space-between;
}/* logo */
  a.logo {
  text-decoration: none;
  color: #d4d4d4;
  transition: color 0.3s;
  border: none; 
  background: none; 
  margin: 8px 3px;
}
  a.logo:hover {
  color: #3F4448;
}
  #logo{
  color:#d4d4d4;
}/* add timer button */
  #addTimerButton{
  background-color: #191919;
  color: #d4d4d4;
  border: none;
  margin: 8px 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
  #addTimerButton:hover {
  color: #3F4448;
}

/* timers */
#timers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:1rem;
}

.timer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  margin: 0 auto 0;
  padding: 0.25rem;
}

.timer input[type="text"] {
  font-size:2rem;
  width:14rem;
  text-align:center;
  color:#d4d4d4;
  padding: 10px;
  border: none;
  background-color:#191919;
  outline:none;
  transition: color 0.3s;
}
.timer input:hover{
  color:#3F4448;
}

.timer button {
  margin: 0.5rem 1rem;
  font-size:1.75rem;
  border: none;
  cursor: pointer;
  background-color: #191919;
  color: #d4d4d4;
  transition: color 0.3s;
}
.timer button:hover {
  color: #3F4448;
}

.timerDisplay{
  margin: 0.5rem 1rem;
  font-size:1.75rem;
  text-align:center;
  transition: color 0.3s;
}
.timerDisplay:hover{
  color:#3F4448
}

/* tablet header media query */
@media (min-width: 481px) and (max-width: 767px) { 
  header{
    font-size:2rem;
  }
  #addTimerButton{
    font-size:1.25rem;
  }
  .timer{
    flex-direction:row;
    justify-content: center;
    margin: 0rem 1rem;
    padding: 0rem 1rem;

  }
        } 
/* desktop media query */
@media (min-width: 768px) { 
  header{
    font-size:2rem;
    padding-left:40px;
    padding-right:40px;
    
  }
  #addTimerButton{
    font-size:1.25rem;
  }
  .timer{
    flex-direction:row;
    justify-content: center;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
  }
  
        } 
